#back-to-top,
.cat-btn a,
.cat-btn a:hover,
.featured-topics h3 a,
.footer-social a img:hover,
.hamburger-menu-items li a,
.menu-items,
.search-icon,
.sidebar-cta a,
.social-media-icons a,
.stay-connected .social-media-icons a {
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

.article-sub a:hover,
.article-sub ol li a:hover,
.article-sub p a:hover,
.article-sub ul li a span:hover,
.article-sub ul li a:hover,
.author-bio p a:hover,
.navbar-footer-items ul li a:hover,
h1,
h2,
h3,
span {
  font-weight: 700
}

body,
h3,
h4,
html,
span {
  color: #262626
}

.search-icon,
h2 {
  font-size: 1.8rem
}

.content-wrapper.blurred,
.hamburger-menu,
body,
h1 {
  transition: opacity .4s ease-in-out, transform .4s ease-in-out
}

.grid-wrapper,
.text-around-img,
body.modal-open {
  overflow: hidden
}

.hero h1 a,
body,
h1,
h2 {
  font-style: normal
}

.article-grid1 img,
.sidebar-article ul li {
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body,
h1 {
  opacity: 1;
  font-family: 'Alegreya Sans', Arial, sans-serif
}

body {
  overflow-wrap: break-word;
  word-break: keep-all;
  margin: 6em 0
}

h1 {
  color: #247b91
}

body,
html {
  width: auto;
  max-width: 100vw;
  height: unset;
  overflow-x: hidden
}

html {
  background-color: #f7f7f7
}


@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/Alegreya_Sans/AlegreyaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /* Swap instead of optional */
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/Alegreya_Sans/AlegreyaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/Alegreya_Sans/AlegreyaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Do the same for Exo 2 */
@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo_2/Exo2-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo_2/Exo2-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo_2/Exo2-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h2 {
  font-family: 'Exo 2', Roboto, Arial, sans-serif;
  font-display: swap;
  color: #247b91
}

.article-list ol li,
.article-list ol li::marker,
.article-lit ul li::marker {
  font-size: 1.8rem;
  font-weight: 700;
  padding: .5em 0;
  color: #262626
}

h3 {
  font-size: 1.7rem;
  padding: .5em 0
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline
}

.article-grid1 h2 a,
h3 a,
p a {
  color: #262626;
  text-decoration: none
}

p {
  font-size: 1.3rem
}

.cat-btn:focus,
a:focus,
button:focus,
input:focus {
  outline: #f7985aaf solid .125em;
  outline-offset: 0.125em
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 3fr 0.75fr;
  gap: 1em;
  max-width: 100%;
  margin: 0 auto;
  min-height: 500px;
}

.grid-wrapper img {
  width: 100%;
  height: auto;
  display: block
}

.grid-wrapper div,
.grid-wrapper img {
  max-width: 100%;
  overflow: hidden
}

.article-grid1,
.article-grid2,
.article-grid3 {
  display: grid;
  max-width: 100%;
  height: auto;
  object-fit: cover
}

.article-grid3 img {
  max-width: 100%;
  height: auto;
  object-fit: cover
}

.article2-viewall img,
.article3-viewall img,
main {
  border-radius: 1.5em
}

.article-list p,
.cat-btn a,
.hero h1 a,
.hero h2,
.page-title h1 i {
  overflow-wrap: break-word
}

.article-index,
.author-bio,
.featured-topics {
  background-color: #fff;
  color: #262626;
  padding: 2em;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 8px
}

.article-index h2,
.featured-topics h2 {
  color: #247b91;
  font-size: 1.8rem;
  padding-bottom: 1em;
  text-align: left;
  font-weight: 700;
  word-break: keep-all
}

.article-index ul,
.featured-topics ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.article-index li,
.featured-topics li {
  padding: 1em 0;
  border-bottom: .0625em solid #e0e0e0;
  word-break: keep-all
}

.article-index li:last-child,
.featured-topics li:last-child {
  border-bottom: none
}

.featured-topics h3 {
  font-size: 1.3rem;
  color: #247b91;
  font-weight: 700;
  margin: 0
}

.featured-topics h3 a {
  text-decoration: none;
  color: inherit;
  opacity: 1
}

.article-index ul li a:hover,
.featured-topics h3 a:hover,
.sidebar-cta a:hover {
  color: #843f06
}

.featured-topics span {
  display: block;
  color: #262626;
  font-size: 1rem;
  margin-top: .2em;
  line-height: 1.5
}

.featured-topics {
  margin-bottom: 2em
}

#intro-paragraph {
  text-align: justify;
  word-break: keep-all
}

.hero-post-author {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end
}

.author-img {
  height: 15vh
}

.author-img img {
  height: 100%;
  width: auto
}

.author-bio {
  text-align: center
}

.author-bio p {
  font-size: 1rem;
  padding: 1em;
  word-break: keep-all
}

.newsletter-img img {
  width: min(120px, 6.25vw);
  height: min(120px, 11.11vh)
}

.cta-section img {
  width: 22vw;
  height: auto;
  justify-content: left;
  align-items: center
}

.author-bio img {
  width: 15vw;
  height: auto
}

.author-bio,
.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 2rem;
  border-radius: .5em;
  margin: 0 auto
}

.cta-sub {
  display: flex;
  flex-direction: column
}

.cta-sub h2,
.cta-sub p {
  text-align: center;
  word-break: keep-all
}

.article-sub p {
  padding: 1em;
  word-break: keep-all
}

.article-list ol li a,
.article-sub p a,
.article-sub ul li a,
.article-sub ul li a span,
.author-bio p a {
  color: #853e05;
  font-weight: 700;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  word-break: keep-all
}

.article-section {
  background-color: #fff;
  color: #262626;
  padding: 1em;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 8px
}

#back-to-top,
.cat-btn a,
.sidebar-cta {
  background-color: #247b91
}

.article-sub p a {
  color: #853e05;
  font-weight: 700
}

.article2-viewall img {
  height: 234px
}

.article3,
.article3-viewall {
  height: auto
}

.article-sub ol li a:hover,
.article-sub p a:hover,
.article-sub ul li a span:hover,
.article-sub ul li a:hover,
.navbar-footer-items ul li a:hover {
  color: #f7c5a6;
  text-decoration: underline;
  transform: scale(1.05);
  opacity: .9
}

.article-list p,
.hero-post-author {
  padding: 0 0 .5em
}

.article-list ol li,
.article-list ol li::marker,
.article-list ul li::marker {
  font-size: 1.8rem;
  font-weight: 700;
  padding: .5em 0;
  color: #262626
}

.article-list ul li {
  font-weight: 400
}

.image-left,
.image-left-small {
  float: left;
  max-width: 25%;
  margin: 0 1em 1em 0;
  display: block
}

.image-left img,
.image-left-small img,
.image-right img,
.image-right-small img {
  width: 100%;
  height: auto;
  border-radius: .625em;
  object-fit: cover
}

.image-right,
.image-right-small {
  float: right;
  max-width: 25%;
  margin: 0 0 1em 1em;
  display: block
}

.text-around-img {
  margin: 0;
  padding: 1em;
  line-height: 1.6
}

.article-section::after {
  content: "";
  display: table;
  clear: both
}



.cat-btn a,
.cat-btn a:hover {
  color: #fff;
  opacity: 1
}

.article-grid1 img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 1.5em
}

.cat-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: .625em;
  padding: 1em 0 1.5em
}

#back-to-top,
.menu-toggle {
  display: none
}

.cat-btn a {
  display: inline-flex;
  border-radius: 6.25em;
  border: .0625em solid #262626;
  padding: 1em;
  box-shadow: rgb(0 0 0 / 10%) 0 0 .3125em .125em;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  margin: 0 1em 0 0;
  width: auto;
  min-width: min(120px, 6.25vw)
}

.article2 img,
.article3 img,
.sidebar-article img {
  box-shadow: rgb(0 0 0 / 20%) 0 0 .1875em .1875em;
  object-fit: cover
}

.cat-btn a:hover {
  border: .09375em solid #a8a6a6;
  background-color: #f7985aaf
}

.editors-pick {
  padding: .09375em 0 2em
}

.iot-updates {
  padding: 1.5em 0 2em
}

.section-title {
  padding: 2em 0 0
}

.article-grid3 {
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%
}

.article-grid1,
.article-grid3 {
  padding: 1em 0;
  gap: 2em;
  object-fit: cover
}

.article-grid2 {
  gap: 3em;
  padding: 1em 0;
  grid-template-columns: repeat(2, 1fr)
}

.article2 img,
.article3 img {
  max-width: 270px;
  width: 270px;
  height: 270px;
  border-radius: 1.5em;
  object-position: bottom center;
  aspect-ratio: 16/9
}

.article3 {
  max-width: 100%
}

.sidebar-article img {
  max-height: auto;
  height: 27.78vh;
  width: 100%;
  border-radius: 1.5em
}

.search-popup {
  display: none;
  position: relative;
  top: 0;
  right: 0;
  width: auto;
  margin-left: .625em
}

.search-popup.show {
  display: block
}

.icons-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: .625em
}

.article2:hover,
.article3:hover,
.iot-updates:hover {
  opacity: .3;
  transform: translateY(0)
}

.article-grid1 img {
  height: 100%;
  max-height: 100%
}

article {
  max-width: 80%;
  margin: 0 auto
}

.hr {
  margin-bottom: 6em
}

.sidebar {
  width: 100%;
  max-width: 100%;
  flex-grow: 0;
  height: auto;
  overflow: visible;
  margin: 0 auto
}

.sidebar-article ul,
.sidebar-cta {
  flex-direction: column;
  display: flex
}

.sidebar-article li,
.sidebar-article ul li a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  overflow-wrap: break-word;
  padding: 0;
  color: #262626;
  font-weight: 700
}

.sidebar-article ul {
  align-items: stretch;
  justify-content: space-evenly
}

.sidebar-article ul li {
  padding: 1em 1.2em;
  font-size: 1rem;
  border-radius: .75em;
  margin: .5em auto;
  cursor: pointer;
  width: 100%;
  max-width: 100%
}

.sidebar-article ul li a {
  color: #595959
}

.sidebar-article ul li:hover,
.social-media:hover {
  opacity: .5;
  transform: translateY(0)
}

#sidebar-cta p {
  padding: 0
}

.sidebar-cta {
  width: 100%;
  align-items: center;
  border-radius: 1.5em;
  text-align: center;
  overflow-wrap: break-word
}

.sidebar-cta img {
  width: min(120px, 6.25vw);
  height: auto;
  margin-bottom: 1.5em
}

.sidebar-cta h2,
form input {
  margin-bottom: 1em;
  color: #fff
}

.sidebar-cta h2 {
  font-size: 1.5rem
}

.sidebar-cta p {
  font-size: 1.2rem;
  color: #fff
}

.sidebar-cta a {
  text-decoration: underline;
  color: #fff;
  font-weight: 700;
  opacity: 1
}

.social-media-icons a,
.stay-connected .social-media-icons a,
.stay-connected h3,
.stay-connected p {
  color: #262626;
  overflow-wrap: break-word
}

form input {
  padding: .75em;
  width: 100%;
  border-radius: 1em;
  border: .0625em solid #fff;
  background: #fff;
  opacity: .9
}

form button {
  padding: .75em;
  width: 100%;
  border-radius: 1em;
  background-color: #fff;
  color: #9edbff;
  font-weight: 700;
  border: none;
  cursor: pointer
}

form button:hover {
  outline: #4fa9e6 solid .125em;
  background-color: #dbad33;
  color: #fff
}

.visually-hidden {
  position: absolute;
  width: .0625em;
  height: .0625em;
  padding: 0;
  margin: -.0625em;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.footer,
.x-icon {
  width: min(100px, 5.21vw)
}

#stay-connected-sidebar {
  margin: 1em auto;
  padding: 1em;
  border-radius: 1.5em;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .2) 0 0 1.5625em .5em;
  text-align: center;
  max-width: 100%
}

.stay-connected h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5em
}

.stay-connected p {
  font-size: 1rem;
  margin-bottom: 1.5em
}

.stay-connected .social-media-icons a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 .5em;
  opacity: 1
}

.stay-connected .social-media-icons a:hover {
  transform: scale(1.05);
  color: #247b91
}

.social-media-icons {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%
}

.social-media-icons a {
  text-decoration: none;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1
}

.social-media-icons a:hover {
  transform: scale(1.1);
  color: #247b91
}

.social-media-icons img {
  max-width: min(48px, 2.5vw);
  width: min(48px, 2.5vw);
  height: auto;
  margin-bottom: .5em
}

.footer {
  padding: 1.5em;
  max-width: 5.21vw
}

.bottom-section {
  max-width: 100vw;
  border-top: .1875em solid #000;
  border-bottom: .1875em solid #000;
  box-shadow: 0 0 .5px rgba(0, 0, 0, .1);
  object-fit: cover
}

.bottom-img-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0
}

.bottom-img-box {
  flex: 1;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.bottom-img-box img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover
}

.bottom-nav,
.stay-connected-footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
  background: linear-gradient(135deg, rgba(53, 154, 180, .8), rgba(26, 26, 26, .8));
  color: #e0e0e0;
  padding: 2em 0
}

.address,
.copyright {
  padding: 0 0 2em
}

.address address,
.copyright p {
  color: #fff;
  padding: .5em 0
}

.address address {
  font-size: 1.2em
}

.navbar-footer-items ul {
  display: flex;
  padding: 1em 0
}

.navbar-footer-items ul li {
  list-style: none
}

.navbar-footer-items ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2em;
  color: #fff
}

.copyright p a {
  color: #f7995a
}

.copyright p a:hover {
  opacity: .5;
  transform: scale(1.1);
  opacity: 1;
  transition: opacity .2s ease-in-out, transform .3s ease-in-out;
  color: #fff
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  text-align: center
}

.footer-social {
  padding: 1em 0 1.5em
}

.footer-social a img {
  margin-right: 1.5em;
  padding: .5em;
  width: min(80px, 4.17vw);
  height: auto;
  object-fit: cover
}

.footer-social a img:hover {
  opacity: .5;
  transform: scale(1.1)
}

.footer a:focus {
  outline: #f7985aaf solid .125em;
  outline-offset: 0.1875em
}

#back-to-top {
  position: fixed;
  bottom: .125em;
  right: .125em;
  color: #fff;
  font-size: 1.5rem;
  padding: .5em;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, .2);
  opacity: 1;
  z-index: 1000
}

#back-to-top:hover {
  background-color: #f7985a
}

.welcome-container {
  width: 95%;
  max-width: 95%;
  text-align: left
}

.article-text {
  padding-bottom: 4em
}

.article-title {
  padding: 2em 0 0;
  word-break: break-all;
  max-width: 100%
}

.article-title h2 {
  font-size: 1.75rem;
  font-style: italic;
  padding: 0 0 1em
}

.article-list,
.challenge-list {
  padding: .5em 1em 0
}

.challenge-list {
  padding: 0 1em 1em;
  font-size: 1.3rem
}

.article-list ol li,
.article-list ul li {
  padding: .5em;
  font-size: 1.3rem;
  overflow-wrap: break-word
}

.article-list ol,
.article-list ul {
  padding: 0 2em
}

.article-list ul li {
  list-style: circle
}

.article-sub h2 {
  padding: 1em 1em .5em
}

.article-sub {
  padding: 1em
}

.challenges-section {
  padding: 0 0 1em
}

.article-author,
.article-date {
  padding-bottom: .3em
}

.article-descr {
  text-align: left;
  padding: 0 .625em;
  max-width: 80%;
  word-break: break-all
}

#article-title h3 a {
  font-size: 1.5rem;
  color: #247b91;
  padding: 0 .625em;
  overflow-wrap: break-word
}

.article-title h3 {
  display: flex;
  text-align: left;
  padding: 1.2vh 30vw .9vh 0;
  width: 55vw;
  overflow-wrap: break-word
}

.article-author p,
.article-date p {
  font-size: 1.1rem;
  padding: 0 .625em;
  font-weight: 400;
  overflow-wrap: break-word
}

.article-descr p {
  font-size: 1.2rem;
  overflow-wrap: break-word
}

@media (max-width:1024px) {

  .cat-btn a,
  .iot-updates,
  .sidebar,
  .sidebar-article img {
    width: 100%
  }

  body {
    margin-top: 5em;
    padding-top: 3em
  }

  nav {
    margin: 0 auto
  }

  .navbar {
    flex-direction: column;
    align-items: center
  }

  .navbar-footer-items ul {
    display: flex;
    flex-direction: column;
    text-align: center
  }

  .navbar-items ul li {
    margin-bottom: .625em
  }

  .navbar-footer-items ul li {
    list-style: none;
    margin-bottom: .625em
  }

  .navbar-footer-items ul li a {
    font-size: 1.3rem;
    padding: 1em
  }

  .navbar-footer-item,
  .sidebar {
    max-width: 100%
  }

  .cat-btn a {
    padding: .75em
  }

  .newsletter-img img {
    max-width: 30vw;
    height: auto
  }

  .search-icon {
    text-align: center
  }

  .logo-container,
  .menu-toggle,
  .search-icon,
  .search-icon img {
    position: static
  }

  .menu {
    padding: .5em 1em;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between
  }

  .icons-container {
    position: relative
  }

  .search-popup {
    margin-top: 1em;
    display: none;
    position: fixed;
    top: 8%;
    width: 75vw;
    padding: .5em;
    border-radius: .5em;
    z-index: 9999;
    left: 50% !important;
    transform: translateX(-50%) !important
  }

  .search-popup.show {
    display: block
  }

  .logo-container img {
    max-height: 4.63vh
  }

  .menu-toggle,
  .search-icon {
    display: inline-block;
    margin-left: .625em
  }

  .menu-toggle img,
  .search-icon img {
    width: min(40px, 2.08vw);
    height: auto
  }

  .navbar-items {
    display: none
  }

  .icons-container {
    padding-bottom: 0
  }

  body.with-popup {
    margin-top: 7em
  }

  #navbar.me {
    border-bottom: none
  }

  .content-container {
    padding-top: 1.5em;
    margin: 0 auto
  }

  .article-grid3 {
    grid-template-columns: 1fr
  }

  .article-grid3,
  .article3 {
    display: flex;
    flex-direction: column
  }

  .article-grid3 img,
  .article2 img {
    width: 100%;
    height: auto
  }

  .social-media-icons {
    flex-direction: column;
    max-width: 100%
  }

  .stay-connected h3 {
    max-width: 100%;
    font-size: 1rem
  }
}

@media (max-width:768px) {

  .article-list h2,
  .article-sub h2,
  .author-img,
  .author-img img,
  .hero-post-author p,
  ol li,
  ul li {
    text-align: left
  }

  .hero-post-author {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end
  }

  .author-img {
    display: flex;
    justify-content: center;
    height: 10vh
  }

  .author-img img {
    height: 100%;
    width: auto
  }

  .featured-topics {
    padding: 1em
  }

  .content-container {
    margin-bottom: 3em
  }


  h3,
  ol li,
  p,
  ul li {
    font-size: 1rem
  }

  .article-list h2,
  .article-sub h2 {
    font-size: 1.2rem
  }

  .section-title {
    padding-top: 2em
  }

  .article2 img {
    width: 100%;
    height: auto
  }

  .article-title h2 {
    font-size: 1.1rem
  }

  main {
    max-width: 95%
  }

  .article-list,
  .article-list ol li,
  .article-list ul li,
  .article-section,
  .article-sub,
  .welcome-container {
    width: 100%;
    max-width: 100%;
    text-align: left
  }

  .author-bio,
  .bottom-nav ul li,
  form {
    text-align: center
  }

  .article-list ol,
  .article-list ul {
    padding: 0 .75em;
    width: 100%
  }

  .article-sub p a:hover {
    color: #843f06;
    text-decoration: underline;
    transform: scale(1.05);
    opacity: .9;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out
  }

  .image-left,
  .image-left-small {
    float: none;
    display: block;
    margin: 0 auto 1em;
    max-width: 100%
  }

  .image-right,
  .image-right-small {
    float: none;
    display: block;
    margin: 1em auto;
    max-width: 100%
  }

  .text-around-img {
    margin: 0 auto;
    padding: 1em;
    line-height: 1.6
  }

  .article-section {
    clear: both
  }

  .author-bio {
    flex-direction: column;
    margin: 0 auto
  }

  .author-bio img {
    width: 40vw
  }

  .bottom-nav,
  .navbar-footer-items ul {
    display: flex;
    flex-direction: column;
    text-align: center
  }

  .navbar-items ul li {
    margin-bottom: .625em
  }

  .navbar-footer-items ul li {
    list-style: none;
    margin-bottom: .625em
  }

  .navbar-footer-items ul li a {
    font-size: 1rem;
    padding: 1em
  }

  .navbar-footer-item {
    max-width: 100%
  }

  .newsletter-img img {
    max-width: 30vw;
    height: auto
  }

  .cta-section img {
    width: 60vw;
    padding: 1em 0 0
  }

  .menu-toggle img,
  .search-icon img {
    width: 30px;
    height: auto
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  .cat-btn a {
    width: 100%;
    padding: .75em
  }

  .bottom-img-box img {
    height: 4.63vh;
    aspect-ratio: 16/9
  }

  #recommended-articles img {
    max-width: 100%;
    width: 320px;
    object-fit: cover;
    border-radius: 1.5em;
    box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
    height: auto;
    aspect-ratio: 16/9
  }

  #recommended-articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }

  .article-grid1,
  .article-grid2,
  .article-grid3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 100vw;
    margin: 0 auto
  }

  .bottom-nav,
  form {
    flex-direction: column
  }

  .article2-viewall,
  .article3-viewall img {
    width: 90%;
    max-width: 100vw;
    height: auto
  }

  .bottom-nav,
  .bottom-section,
  .stay-connected-footer {
    padding: 1em 0
  }

  .footer-social a img {
    width: 10vw;
    margin-right: 1em
  }

  .bottom-nav ul li,
  .sidebar,
  form {
    width: 100%
  }

  .sidebar {
    max-width: 100%;
    margin: 1em 0
  }

  .bottom-nav ul {
    display: block;
    width: 100%
  }

  .subscribe-container {
    padding: 1.5em
  }

  .subscribe-title p {
    font-size: 2.3rem
  }

  .subscribe-p p {
    font-size: 2rem
  }

  form {
    display: flex;
    margin: 0 auto
  }

  .social-media img,
  .social-media-icons img {
    max-width: 10vw;
    width: 10vw
  }

  body {
    font-size: .8rem
  }

  .menu {
    padding: .5em 1em;
    z-index: 1003;
    font-size: .875rem
  }

  .icons-container {
    z-index: 10
  }

  .content-container {
    max-width: 90vw;
    padding-bottom: 5em;
    margin-top: 2em
  }

  .grid-wrapper {
    grid-template-columns: 1fr;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    max-width: 100%
  }

  .hero,
  .hero-content-all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f7f7;
    height: auto;
    text-align: left;
    max-width: 100%;
    width: 100%
  }

  .hero img,
  .hero-content-all img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover
  }

  .hero-content-all .cat-btn {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 100%;
    margin: 1em 0 4em
  }

  .page-title {
    padding-bottom: 1em
  }
}