* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body,
h1 {
  opacity: 1;
  transition: opacity .4s ease-in-out, transform .4s ease-in-out;
  font-family: 'Alegreya Sans', Arial, sans-serif;
  font-style: normal
}

body {
  overflow-wrap: break-word;
  word-break: keep-all;
  overflow: hidden
}

h1 {
  font-weight: 700;
  color: #247b91
}

body,
html {
  width: auto;
  max-width: 100vw;
  height: unset;
  overflow-x: hidden;
  color: #262626
}

html {
  background-color: rgb(247 247 247 / 1);
  box-shadow: rgb(0 0 0 / 40%) 0 0 3.125em .5em;
  color: #262626
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/Alegreya_Sans/AlegreyaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo_2/Exo2-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

h2 {
  font-family: 'Exo 2', Roboto, Arial, sans-serif;
  font-display: swap;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  color: #247b91
}

.article-list ol li,
.article-list ol li::marker,
.article-lit ul li::marker {
  font-size: 1.8rem;
  font-weight: 700;
  padding: .5em 0;
  color: #262626
}

.article-list ul li {
  font-weight: 400
}

h3 {
  font-size: 1.7rem;
  font-weight: 700;
  padding: .5em 0;
  color: #262626
}

h4 {
  font-size: 1.5rem;
  color: #262626;
  font-weight: 500;
  text-decoration: underline
}

.article-grid1 h2 a,
h3 a,
p a {
  color: #262626;
  text-decoration: none
}

p {
  font-size: 1.3rem
}

.cat-btn:focus,
a:focus,
button:focus,
input:focus {
  outline: .125em solid #f7985aaf;
  outline-offset: 0.125em
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  border-bottom: .0625em solid #000;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 .125em .3125em rgba(0, 0, 0, .1)
}

span {
  color: #262626;
  font-weight: 700
}

.grid-wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 0.65fr;
  gap: 1em;
  min-height: 400px
}

.article-textbox h2 {
  font-size: 1.2rem;
  padding: 1em .5em .5em
}

.article-grid1,
.article-grid2,
.article-grid3 {
  display: grid;
  max-width: 100%;
  height: auto;
  object-fit: cover
}

.article-grid3 img {
  max-width: 100%;
  height: auto;
  object-fit: cover
}

.navbar-items {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.25em
}

.logo-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10
}

.logo-container img {
  max-height: 9.26vh;
  width: auto;
  aspect-ratio: 16/9
}

.search-icon {
  position: relative;
  font-size: 1.8rem;
  color: #247b91;
  margin-right: 1.25em;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

.search-icon:hover {
  color: #f7985aaf;
  opacity: .8
}

.menu-items {
  transform: translateX(100%);
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

.menu-items.open {
  transform: translateX(0)
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 40vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1002;
  padding-top: 3.75em;
  opacity: 1;
  transition: opacity .4s ease-in-out, transform .4s ease-in-out
}

.hamburger-menu.show {
  left: 0
}

.hamburger-menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left
}

.hamburger-menu-items li {
  margin-bottom: 1.25em
}

.hamburger-menu-items li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  padding: .9375em 1.25em;
  display: block;
  font-weight: 700;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

.hamburger-menu-items li a:hover {
  color: #853e05;
  opacity: .8
}

.content-wrapper.blurred {
  filter: blur(.3125em);
  opacity: 1;
  transition: opacity .4s ease-in-out, transform .4s ease-in-out
}

.menu-toggle img,
.search-icon img {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 50px;
  height: auto;
  top: 20%
}

.search-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: .625em;
  border: .125em solid #247b91;
  background-color: rgba(255, 255, 255, .95);
  border-radius: 3.125em;
  right: 1;
  margin: 0 auto
}

.search-container i {
  font-size: 1.5rem;
  color: #247b91
}

#search-input {
  border: none;
  outline: 0;
  font-size: 1.2rem;
  margin-left: .625em;
  padding: .3125em;
  background-color: transparent;
  color: #262626
}

#search-input::placeholder {
  color: #262626
}

body.modal-open {
  overflow: hidden
}

main {
  max-width: 75vw;
  background-color: rgb(247 247 247 / 1);
  padding: 3em;
  border-radius: 1.5em;
  margin: 5em auto;
  word-break: keep-all;
  overflow: hidden
}

.search-icon-active .content-container {
  top: 0
}

.main-content {
  margin: 0 auto;
  max-width: 100%
}

.navbar-items ul {
  list-style-type: none;
  display: flex;
  margin-left: auto
}

.navbar-items ul li {
  margin-left: .125em
}

.navbar-items ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: .625em;
  color: #247b91
}

.navbar-items ul li a:hover {
  color: #843f06;
  border-radius: .25em;
  word-break: keep-all
}

.article-index,
.author-bio,
.featured-topics {
  background-color: #fff;
  color: #262626;
  padding: 2em;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 8px
}

.article-index h2,
.featured-topics h2 {
  color: #247b91;
  padding-bottom: 1em;
  text-align: left;
  font-weight: 700;
  word-break: keep-all
}

#stay-connected-text h2 {
  font-size: 1.3rem;
  text-align: center
}

.featured-topics h2 {
  font-size: 1.8rem
}

.article-index ul,
.featured-topics ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.article-index li,
.featured-topics li {
  padding: 1em 0;
  border-bottom: .0625em solid #e0e0e0;
  word-break: keep-all
}

.article-index li:last-child,
.featured-topics li:last-child {
  border-bottom: none
}

.featured-topics h3 {
  font-size: 1.3rem;
  color: #247b91;
  font-weight: 700;
  margin: 0
}

.featured-topics h3 a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

.article-index ul li a:hover,
.featured-topics h3 a:hover {
  color: #843f06
}

.featured-topics span {
  display: block;
  color: #262626;
  font-size: 1rem;
  margin-top: .2em;
  line-height: 1.5
}

.featured-topics {
  margin-bottom: 2em;
  margin-top: 2em;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
  border-radius: .75em
}

#intro-paragraph {
  text-align: justify;
  word-break: keep-all;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  padding: 2em;
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
  border-radius: .75em;
  margin-bottom: 2em
}

#intro-paragraph p {
  font-size: 1.3rem
}

.hero-post-author {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end
}

.author-img {
  height: 15vh
}

.author-img img {
  height: 100%;
  width: auto
}

.author-bio {
  text-align: center
}

.author-bio p {
  font-size: 1rem;
  padding: 1em;
  word-break: keep-all
}

#author-sig img {
  width: 22vw;
  height: auto;
  justify-content: left;
  align-items: center
}

.author-bio img {
  width: 15vw;
  height: auto
}

.author-bio,
.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 2rem;
  border-radius: .5em;
  margin: 0 auto
}

.section-title {
  padding: 2em 0 .5em
}

.article-sub p {
  padding: 0;
  word-break: keep-all;
  width: 100%
}

.article-list ol li a,
.article-sub p a,
.article-sub ul li a,
.article-sub ul li a span,
.author-bio p a {
  color: #853e05;
  font-weight: 700;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  word-break: keep-all
}

.article-section {
  background-color: #fff;
  color: #262626;
  padding: 1em;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 8px
}

#choosing-tolls p,
#choosing-tools h2,
.article-list h2,
.article-list p,
.article-section h2,
.article-section p {
  padding: .7em 1em 0
}

.article-sub p a {
  color: #853e05;
  font-weight: 700
}

.article-sub ol li a:hover,
.article-sub p a:hover,
.article-sub ul li a span:hover,
.article-sub ul li a:hover,
.navbar-footer-items ul li a:hover {
  color: #f7c5a6;
  text-decoration: underline;
  transform: scale(1.05);
  opacity: .9
}

.article-list p {
  padding: .7em 1em 0;
  overflow-wrap: break-word
}

.article-list ol li,
.article-list ol li::marker,
.article-list ul li::marker {
  font-size: 1.8rem;
  font-weight: 700;
  padding: .5em 0;
  color: #262626
}

.article-list ul li {
  font-weight: 400
}

.article-sub a:hover,
.article-sub ol li a:hover,
.article-sub p a:hover,
.article-sub ul li a span:hover,
.article-sub ul li a:hover,
.author-bio p a:hover,
.navbar-footer-items ul li a:hover {
  font-weight: 700
}

.image-left,
.image-left-small {
  float: left;
  max-width: 25%;
  margin: 0 1em 1em 0;
  display: block
}

.image-left img,
.image-left-small img {
  width: 100%;
  height: auto;
  border-radius: .625em;
  object-fit: cover
}

.image-right,
.image-right-small {
  float: right;
  max-width: 25%;
  margin: 0 0 1em 1em;
  display: block
}

.image-right img,
.image-right-small img {
  width: 100%;
  height: auto;
  border-radius: .625em;
  object-fit: cover
}

.text-around-img {
  margin: 0;
  padding: 1em;
  line-height: 1.6;
  overflow: hidden
}

.article-section::after {
  content: "";
  display: table;
  clear: both
}

.content-container {
  max-width: 90vw;
  margin: 11em auto 5em;
  padding: 2em;
  background-color: #f7f7f7;
  border-radius: 1.5em;
  box-shadow: 0 0 3em rgba(0, 0, 0, .4)
}

.page-title h1 {
  font-size: 3rem;
  text-decoration: none;
  overflow-wrap: break-word
}

.hero h1 a {
  font-size: 2.5rem;
  position: absolute;
  bottom: 3em;
  left: 1em;
  color: #f7f7f7;
  font-family: sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  overflow-wrap: break-word
}

.hero h1 a:hover,
.page-title h1 a:hover {
  color: #843f06;
  opacity: 1;
  transition: opacity .1s ease-in-out, transform .2s ease-in-out
}

.hero h2 {
  font-size: 2rem;
  color: #262626;
  letter-spacing: .5px;
  overflow-wrap: break-word
}

.article-grid1 img {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  object-fit: cover;
  border-radius: 1.5em;
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em
}

.cat-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: .625em;
  padding: 1em 0 1.5em 0
}

.cat-btn a {
  display: inline-flex;
  border-radius: 6.25em;
  border: .0625em solid #262626;
  padding: 1em;
  box-shadow: rgb(0 0 0 / 10%) 0 0 .3125em .125em;
  text-align: center;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  margin: 0 1em 0 0;
  width: auto;
  min-width: min(120px, 6.25vw);
  background-color: #247b91;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

.cat-btn a:hover {
  border: .09375em solid #a8a6a6;
  background-color: #f7985aaf;
  color: #fff;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

.editors-pick {
  padding: .09375em 0 2em 0
}

.iot-updates {
  padding: 1.5em 0 2em 0
}

.sidebar-article {
  margin: 0 auto;
  width: 170px;
  max-width: auto
}

.city-img img {
  max-height: 400px;
  width: 165px;
  height: auto;
  object-fit: cover;
  margin: 0 auto
}

.article2 img,
.article3 img {
  max-width: 270px;
  width: 270px;
  height: 270px;
  border-radius: 1.5em;
  box-shadow: rgb(0 0 0 / 20%) 0 0 .1875em .1875em;
  object-fit: cover;
  object-position: bottom center;
  aspect-ratio: 16/9
}

.article3 {
  max-width: 100%;
  height: auto
}

.search-popup {
  display: none;
  position: relative;
  margin: 1em auto 1em;
  max-width: 600px;
  width: 316px;
  padding: .5em;
  background-color: rgb(247 247 247 / 1);
  box-shadow: rgb(0 0 0 / 40%) 0 0 3.125em .5em;
  z-index: 10;
  border-radius: 1em
}

.search-popup.show {
  display: block
}

body.with-popup .content-container {
  margin-top: 4em
}

.search-popup.show {
  display: block
}

.search-popup.show {
  display: block
}

.menu-toggle {
  display: none
}

.icons-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .125em;
  margin-top: .625em
}

.article2:hover,
.article3:hover,
.iot-updates:hover {
  opacity: .3;
  transform: translateY(0)
}

.article-grid1 img {
  height: 100%;
  max-height: 100%
}

.article-grid2 {
  grid-template-columns: repeat(2, 1fr)
}

article {
  max-width: 80%;
  margin: 0 auto
}

.hr {
  margin-bottom: 6em
}

#stay-connected-sidebar {
  background-color: #fff;
  color: #262626;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  border-radius: 1.5em;
  margin: 2em auto;
  width: 170px;
  max-width: 300px;
  text-align: center
}

#stay-connected-sidebar .stay-connected h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  margin-bottom: .5em
}

#stay-connected-sidebar .stay-connected p {
  font-size: 1rem;
  color: #262626;
  margin-bottom: 1.5em
}

.social-media-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em
}

.social-media-imgs a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit
}

.social-media-imgs a img {
  width: 52px;
  height: auto;
  margin-bottom: .5em
}

.social-media-text {
  font-size: 1rem;
  color: #262626
}

.sidebar-box {
  background-color: #fff;
  padding: 1.5em;
  border-radius: 1.5em;
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
  margin: 1.5em auto;
  text-align: center
}

.article-title h2 {
  font-size: 1rem;
  padding: 1em 0
}

.sidebar-article li,
.sidebar-article ul li a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.368rem;
  font-size: 1rem;
  text-align: center;
  overflow-wrap: break-word;
  padding: 0;
  color: #262626;
  font-weight: 700
}

.sidebar-article ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly
}

.sidebar-article ul li {
  padding: 1em;
  font-size: 1rem;
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-radius: .75em;
  margin: .5em 0;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  margin: .5em auto
}

.sidebar-article ul li a {
  color: #595959
}

.sidebar-article ul li:hover,
.social-media:hover {
  opacity: .5;
  transform: translateY(0)
}

.sidebar-text ul {
  list-style: none;
  margin-top: 1em;
  padding: 0
}

.sidebar-text li {
  margin: .5em 0;
  font-size: .9rem
}

.sidebar-text li a {
  text-decoration: none;
  color: #247b91
}

#stay-connected-sidebar .stay-connected h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5em
}

#stay-connected-sidebar .stay-connected p {
  font-size: 1rem;
  margin-bottom: 1em
}

.social-media-imgs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center
}

.social-media-imgs a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit
}

.social-media-imgs a img {
  width: 52px;
  height: 52px;
  margin-bottom: .5em
}

.social-media-text {
  font-size: 1rem
}

#sidebar-cta p {
  padding: 0
}

#sidebar-cta {
  display: flex;
  flex-direction: column;
  width: 170px;
  max-width: auto;
  margin: 0 auto 2em;
  background-color: #247b91;
  text-align: center;
  overflow-wrap: break-word
}

#sidebar-cta h2 {
  font-size: 1.2rem;
  margin-bottom: 1em;
  color: #fff
}

#sidebar-cta p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.35
}

#sidebar-cta a {
  text-decoration: underline;
  color: #fff;
  font-weight: 700;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

#sidebar-cta a:hover {
  color: #843f06
}

.newsletter-img img {
  width: 80px;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  aspect-ratio: 1.45/1
}

form input {
  padding: .75em;
  width: 100%;
  border-radius: 1em;
  border: .0625em solid #fff;
  background: #fff;
  opacity: .9;
  color: #fff;
  margin-bottom: 1em
}

form button {
  padding: .75em;
  width: 100%;
  border-radius: 1em;
  background-color: #fff;
  color: #9edbff;
  font-weight: 700;
  border: none;
  cursor: pointer
}

form button:hover {
  outline: .125em solid #4fa9e6;
  background-color: #dbad33;
  color: #fff
}

.visually-hidden {
  position: absolute;
  width: .0625em;
  height: .0625em;
  padding: 0;
  margin: -.0625em;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.article3-viewall {
  padding-bottom: 3em
}

.article-grid3 {
  grid-template-columns: repeat(3, 1fr);
  width: 100%
}

.article-grid1,
.article-grid3 {
  padding: 1em 0;
  gap: 2em;
  object-fit: cover
}

.article-grid2 {
  gap: 3em;
  padding: 0
}

.article-grid1,
.article-grid2,
.article-grid3,
.article1-viewall,
.article2-viewall,
.iot-updates {
  width: 100%;
  max-width: 1200px;
  height: auto
}

.article3-viewall {
  width: 310px;
  max-width: 390px
}

.article-grid1 img,
.article-grid2 img,
.article-grid3 img,
.article1-viewall img,
.article2-viewall img,
.article3-viewall img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 1.5em;
  display: block
}

#editors-pick h2,
.iot-update h2 {
  margin: 2em auto 0;
  padding: 0 0 1em 1em
}

.article3-viewlall h2 a {
  padding-bottom: 3em
}

.article2-viewall h2,
.article3-viewall h2,
.article3-viewall img {
  font-size: 1.3rem
}

#thumbnail-titles h2 {
  font-size: 1.2rem;
  padding-left: .5em
}

.article2-viewall h3,
.article3-viewall h3 {
  font-size: 1.2rem
}

.footer {
  padding: 1.5em;
  width: min(100px, 5.21vw);
  max-width: 5.21vw
}

.bottom-section {
  max-width: 100vw;
  border-top: .1875em solid #000;
  border-bottom: .1875em solid #000;
  box-shadow: 0 0 .5px rgba(0, 0, 0, .1);
  object-fit: cover
}

.bottom-img-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0
}

.bottom-img-box {
  flex: 1;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.bottom-img-box img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover
}

.bottom-nav,
.stay-connected-footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
  background: linear-gradient(135deg, rgba(53, 154, 180, .8), rgba(26, 26, 26, .8));
  color: #e0e0e0;
  padding: 2em 0
}

.address,
.copyright {
  padding: 0 0 2em
}

.address address,
.copyright p {
  color: #fff;
  padding: .5em 0
}

.address address {
  font-size: 1.2em
}

.navbar-footer-items ul {
  display: flex;
  padding: 1em 0
}

.navbar-footer-items ul li {
  list-style: none
}

.navbar-footer-items ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2em;
  color: #fff
}

.copyright p a {
  color: #f7995a
}

.copyright p a:hover {
  opacity: .5;
  transform: scale(1.1);
  opacity: 1;
  transition: opacity .2s ease-in-out, transform .3s ease-in-out;
  color: #fff
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  text-align: center
}

.footer-social {
  padding: 1em 0 1.5em
}

.footer-social a img {
  margin-right: 1.5em;
  padding: .5em
}

.footer-social a img {
  width: min(80px, 4.17vw);
  height: auto;
  object-fit: cover
}

.x-icon {
  width: min(100px, 5.21vw)
}

.footer-social a img:hover {
  opacity: .5;
  transform: scale(1.1);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out
}

.footer a:focus {
  outline: .125em solid #f7985aaf;
  outline-offset: 0.1875em
}

#back-to-top {
  position: fixed;
  bottom: .125em;
  right: .125em;
  background-color: #247b91;
  color: #fff;
  font-size: 1.5rem;
  padding: .5em;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, .2);
  display: none;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  z-index: 1000
}

#back-to-top:hover {
  background-color: #f7985a
}

.welcome-container {
  width: 95%;
  max-width: 95%;
  text-align: left
}

.hero-post-author {
  padding: 0 0 .5em
}

.article-text {
  padding-bottom: 4em
}

.article-title {
  padding: 2em 0 0;
  word-break: break-all;
  max-width: 100%
}

.article-title h2 {
  font-size: 1.75rem;
  font-style: italic;
  padding: 0 0 1em
}

.article-list,
.challenge-list {
  padding: .5em 1em 0
}

.challenge-list {
  padding: 0 1em 1em;
  font-size: 1.3rem
}

.article-list ol li,
.article-list ul li {
  padding: .5em;
  font-size: 1.3rem;
  overflow-wrap: break-word
}

.article-list ol,
.article-list ul {
  padding: 0 2em
}

.article-list ul li {
  list-style: circle
}

.article-sub h2 {
  padding: 1em 0 1em;
  left: 0
}

.article-sub {
  padding: 1em
}

.challenges-section {
  padding: 0 0 1em
}

.article-author,
.article-date {
  padding-bottom: .3em
}

.article-descr {
  text-align: left;
  padding: 0 .625em;
  max-width: 80%;
  word-break: break-all
}

#article-title h3 a {
  font-size: 1.5rem;
  color: #247b91;
  padding: 0 .625em;
  overflow-wrap: break-word
}

.article-title h3 {
  display: flex;
  text-align: left;
  padding: 1.2vh 30vw .9vh 0;
  width: 55vw;
  overflow-wrap: break-word
}

.article-author p,
.article-date p {
  font-size: 1.1rem;
  padding: 0 .625em;
  font-weight: 400;
  overflow-wrap: break-word
}

.article-descr p {
  font-size: 1.2rem;
  overflow-wrap: break-word
}

/* purgecss start ignore */
@media (max-width:1024px) {
  .menu-toggle {
    display: inline-block
  }

  body {
    margin-top: 0
  }

  .content-container {
    margin-top: 5em
  }

  nav {
    margin: 0 auto
  }

  .navbar-items {
    display: none
  }

  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1003
  }

  .navbar {
    flex-direction: column;
    align-items: center
  }

  .navbar-footer-items ul {
    display: flex;
    flex-direction: column;
    text-align: center
  }

  .navbar-items ul li {
    margin-bottom: .625em
  }

  .navbar-footer-items ul li {
    list-style: none;
    margin-bottom: .625em
  }

  .navbar-footer-items ul li a {
    font-size: 1.3rem;
    padding: 1em
  }

  .navbar-footer-item {
    max-width: 100%
  }

  .cat-btn a {
    width: 100%;
    padding: .75em
  }

  .menu-toggle img,
  .search-icon img {
    width: min(40px, 2.08vw);
    height: auto
  }

  .search-icon {
    position: static;
    text-align: center
  }

  .search-icon img {
    position: static
  }

  .menu {
    padding: .5em 1em;
    background-color: #fff
  }

  .icons-container {
    position: relative
  }

  #sidebar {
    width: 100%;
    max-width: 100%
  }

  .city-img img {
    width: 100%
  }

  .search-popup.show {
    display: block
  }

  .logo-container,
  .menu-toggle,
  .search-icon {
    position: static
  }

  .logo-container {
    position: static
  }

  .logo-container img {
    max-height: 4.63vh
  }

  .menu-toggle,
  .search-icon {
    display: inline-block
  }

  .menu-toggle img,
  .search-icon img {
    width: min(40px, 2.08vw);
    height: auto
  }

  .navbar-items {
    display: none
  }

  .menu {
    flex-direction: row;
    justify-content: space-between
  }

  .icons-container {
    padding-bottom: 0
  }

  body {
    padding-top: 3em
  }

  #navbar.me {
    border-bottom: none
  }

  .content-container {
    padding-top: 1.5em
  }

  .iot-updates {
    width: 100%
  }

  .article-grid3 {
    grid-template-columns: 1fr
  }

  .article3 {
    display: flex;
    flex-direction: column
  }

  .article-grid3 {
    display: flex;
    flex-direction: column
  }

  .article-grid3 img {
    width: 100%;
    height: auto
  }

  .article2 img {
    width: 100%;
    height: auto
  }

  .content-container {
    margin: 0 auto
  }
}

@media (max-width:768px) {
  .content-container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center
  }

  .hero-content {
    display: flex;
    background-color: #f7f7f7;
    height: auto;
    width: 100%;
    max-height: 768px;
    margin: 0 auto
  }

  .padding {
    padding-bottom: 2em
  }

  .hero-content img {
    width: 100%;
    max-width: 768px;
    height: auto;
    object-fit: cover;
    margin: 1em auto 0;
    padding: 0
  }

  .section-title {
    width: 640px;
    max-width: 100%;
    text-align: left;
    margin-bottom: -1em
  }

  .iot-updates {
    margin-bottom: 1em;
    padding-top: 0;
    width: 475px;
    max-width: 768px
  }

  .article-grid3 {
    padding: 0
  }

  .article-sub p {
    font-size: 1.5rem
  }

  .page-title h3,
  .page-title p {
    padding: 0 2em 1.3em;
    margin: 0 auto;
    width: 640px;
    max-width: 100%
  }

  .page-title h2 {
    padding: 0 2em;
    margin: 0 auto;
    width: 640px;
    font-size: 2.5rem;
    max-width: 100%
  }

  .page-title h1 {
    font-size: 2.5rem;
    padding: 2em 1em 1em;
    width: 640px
  }

  main {
    margin: 0 auto;
    padding: 1em
  }

  .grid-wrapper {
    display: flex;
    flex-direction: column;
    min-height: auto;
    max-width: 100%;
    width: 100%;
    padding: 1em
  }

  .hero-post-author {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start
  }

  .author-img {
    display: flex;
    height: 15vh
  }

  .hero-post-author p {
    text-align: left
  }

  .welcome-container {
    text-align: center;
    padding: 1em
  }

  .author-img img {
    height: 100%;
    width: auto;
    text-align: left
  }

  .featured-topics {
    padding: 1em;
    font-size: 1rem;
    box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
    border-radius: .75em;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    margin: 0 auto
  }

  .content-container {
    margin: 0 auto;
    padding: 0
  }



  ol li,
  ul li {
    text-align: left;
    font-size: 1rem
  }

  .article-list h2,
  .article-sub h2 {
    text-align: left;
    font-size: 1.2rem
  }

  .article2 img {
    width: 100%;
    height: auto
  }

  main {
    max-width: 95%
  }

  .article-list,
  .article-list ol li,
  .article-list ul li,
  .article-section,
  .article-sub,
  .welcome-container {
    width: 100%;
    max-width: 100%;
    text-align: left
  }

  .article-list ol,
  .article-list ul {
    padding: 0 .75em;
    width: 100%
  }

  .article-sub {
    padding: 0
  }

  .article-sub p {
    padding: .5em;
    width: 100%;
    text-align: left
  }

  .article-sub p a:hover {
    color: #843f06;
    text-decoration: underline;
    transform: scale(1.05);
    opacity: .9;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out
  }

  .image-left,
  .image-left-small {
    float: none;
    display: block;
    margin: 0 auto 1em auto;
    max-width: 100%
  }

  .image-right,
  .image-right-small {
    float: none;
    display: block;
    margin: 1em auto;
    max-width: 100%
  }

  .text-around-img {
    margin: 0 auto;
    padding: 1em;
    line-height: 1.6
  }

  .article-section {
    clear: both
  }

  .author-bio {
    flex-direction: column;
    margin: 0 auto;
    text-align: center
  }

  .author-bio img {
    width: 40vw
  }

  .hr {
    margin-bottom: 2em
  }

  .navbar-footer-items ul {
    display: flex;
    flex-direction: column;
    text-align: center
  }

  .navbar-items ul li {
    margin-bottom: .625em
  }

  .navbar-footer-items ul li {
    list-style: none;
    margin-bottom: .625em
  }

  .navbar-footer-items ul li a {
    font-size: 1rem;
    padding: 1em
  }

  .navbar-footer-item {
    max-width: 100%
  }

  .sidebar-article {
    padding: 1.5em 0;
    margin: 0 auto
  }

  .sidebar-article ul {
    padding: 1em;
    gap: 20px
  }

  .sidebar-article ul li a {
    padding: 1em 0;
    font-size: 1.3rem;
    font-weight: 900
  }

  .bottom-section {
    display: none
  }

  .city-img {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%
  }

  .sidebar-article ul {
    display: flex;
    align-items: center;
    justify-content: left
  }

  .city-img img {
    width: 210px;
    height: 500px;
    aspect-ratio: 9/16;
    object-fit: cover
  }

  #stay-connected-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px
  }

  .stay-connected-text h2 {
    font-size: 1rem
  }

  .social-media-imgs {
    flex-direction: row;
    margin: 0 auto;
    gap: 1em
  }

  #sidebar-cta {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 500px;
    margin: 0 auto
  }

  .newsletter-img img {
    display: flex;
    width: 120px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1.45/1;
    align-items: center
  }

  #author-sig img {
    width: 60vw;
    padding: 1em 0 0
  }

  .menu-toggle img,
  .search-icon img {
    width: 30px;
    height: auto
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em
  }

  #sidebar,
  .sidebar {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    text-align: center
  }

  #sidebar {
    display: flex;
    width: 500px;
    margin: 0 auto;
    padding: 0
  }

  .sidebar-box {
    width: 100%;
    max-width: 320px;
    margin: 1em auto;
    text-align: center
  }

  .sidebar-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 500px;
    max-width: 500px
  }

  .cat-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }

  .cat-btn a {
    width: 100%;
    padding: .75em
  }

  .bottom-img-box img {
    height: 4.63vh;
    aspect-ratio: 16/9
  }

  #recommended-articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto
  }

  .article3-viewall {
    padding: 0
  }

  .article-grid1,
  .article-grid2,
  .article-grid3,
  .article1-viewall,
  .article2-viewall,
  .article3-viewall,
  .iot-updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 475px;
    max-width: 768px;
    height: auto;
    margin: 0 auto
  }

  .article-grid1 img,
  .article-grid2 img,
  .article-grid3 img,
  .article1-viewall img,
  .article2-viewall img,
  .article3-viewall img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1.5em;
    display: block;
    margin: 0 auto
  }

  #editors-pick h2,
  .iot-update h2 {
    margin: 2em auto 0;
    padding: 0 0 1em 1em
  }

  .section-title h2 {
    max-width: 500px;
    width: 475px;
    height: auto;
    margin: 1em auto 1em;
    padding-left: 1em;
    text-align: left
  }

  #intro-paragraph,
  #recommended-articles h2 a,
  #recommended-articles h3,
  #recommended-articles p {
    margin: 0 .5em 0;
    width: 475px;
    margin: 0 auto;
    text-align: left
  }

  #intro-paragraph {
    margin: 2em 2em 3em;
    padding: 1em;
    width: 580px;
    border-radius: .75em
  }

  .bottom-section,
  .stay-connected-footer {
    padding: 1em 0
  }

  .footer-social a img {
    width: 10vw
  }

  .footer-social a img {
    margin-right: 1em
  }

  .grid-wrapper {
    grid-template-columns: 1fr;
    min-height: 400px
  }

  .bottom-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em 0
  }

  .bottom-nav ul {
    display: block;
    width: 100%
  }

  .bottom-nav ul li {
    width: 100%;
    text-align: center
  }

  .subscribe-container {
    padding: 1.5em
  }

  .subscribe-title p {
    font-size: 2.3rem
  }

  .subscribe-p p {
    font-size: 2rem
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center
  }

  .bottom-nav {
    flex-direction: column;
    padding: 1em 0
  }

  body {
    font-size: 1.2rem
  }

  .content-container {
    margin-top: 5em
  }

  .menu {
    padding: .5em 1em;
    z-index: 1003;
    font-size: .875rem
  }

  .icons-container {
    z-index: 10
  }

  .content-container {
    max-width: 90vw;
    padding-bottom: 0
  }

  .grid-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%
  }

  .empty-box {
    display: none
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em
  }

  .hero img {
    display: block;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    border-radius: 1.5em;
    object-fit: cover;
    aspect-ratio: 16/9
  }

  .cat-btn {
    margin: 0 auto;
    display: flex;
    width: 60%
  }

  .article-grid3 {
    margin: 0 auto
  }

  .page-title h2 {
    font-size: 2.5rem;
    padding: 1em
  }

  .article-sub p {
    font-size: 1.5rem;
    padding: 1em
  }

  .article3-viewall h2 {
    font-size: 1.5rem;
    margin: 0 auto
  }

  .cta-section {
    margin-bottom: 2em
  }

  .cta-section {
    width: 500px
  }

  .content-container {
    margin-bottom: 5em
  }

  .hero img {
    width: 90%;
    margin: 0 auto;
    height: auto
  }

  .cat-btn {
    width: 80%;
    margin: 0 auto
  }

  .empty-box {
    display: none
  }

  .cat-btn a {
    width: 80%;
    margin: 0 auto
  }
}

@media (max-width:480px) {

  .menu-toggle img,
  .search-icon img {
    width: 30px;
    max-width: 30px;
    height: 30px
  }

  #category-thumbnails {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    gap: 1em
  }

  main {
    margin: 0 auto;
    padding: 1em
  }

  .hero {
    width: 315px;
    height: 177;
    margin: 0 auto
  }

  .hero img {
    width: 315px;
    margin: 0 auto;
    height: 177px;
    max-width: 100%;
    max-height: auto
  }

  .page-title h3 {
    font-size: 1.3rem
  }

  .page-title h3,
  .page-title p {
    padding: .5em 1em .8em;
    margin: 0 auto;
    width: 100%;
    max-width: 580px
  }

  .page-title h2 {
    padding: .5em 1em 0;
    margin: 0 auto;
    width: 100%;
    max-width: 580px;
    font-size: 1.4rem
  }

  .page-title h1 {
    font-size: 1.5rem;
    padding: 1em 0 0 1em;
    width: 100%;
    max-width: 580px;
    text-align: left
  }

  #intro-paragraph p {
    font-size: 1.2rem
  }

  .iot-updates {
    padding: 0;
    margin: 0 auto
  }

  .article-grid1,
  .article-grid2,
  .article-grid3,
  .article1-viewall,
  .article2-viewall,
  .article3-viewall,
  .iot-updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    max-width: 480px;
    height: auto;
    margin: 1em auto
  }

  .article-grid1 img,
  .article-grid2 img,
  .article-grid3 img,
  .article1-viewall img,
  .article2-viewall img,
  .article3-viewall img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1.5em;
    display: block;
    margin: 0 auto
  }

  .article-author p,
  .article-date p,
  .article3-viewall h3 {
    text-align: left
  }

  .article2-viewall p {
    font-size: 1.2rem
  }

  .article-sub p {
    padding: .5em;
    font-size: 1.2rem
  }

  .cat-btn a {
    width: 80%;
    padding: .4em
  }

  #intro-paragraph {
    display: flex;
    flex-direction: column
  }

  #featured-topics,
  #intro-paragraph,
  #recommended-articles h2 a,
  #recommended-articles h3,
  #recommended-articles p {
    margin: 0 .5em 0;
    width: 250px;
    max-width: 250px;
    margin: 0 auto;
    gap: 0
  }

  #recommended-articles {
    display: flex;
    flex-direction: column;
    width: 319px;
    max-width: 480px;
    margin: 0 auto;
    gap: 0
  }

  #featured-topics,
  #intro-paragraph,
  #recommended-articles,
  .article-grid1 {
    gap: .5em
  }

  .article-grid3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    max-width: 480px;
    margin: 0 auto;
    margin: 0 auto;
    gap: 0
  }

  .article-grid3 img {
    margin: 0 auto;
    width: 100%;
    max-width: 100%
  }

  .article-grid3 .article3-viewall h2 a {
    font-size: 1.3rem;
    padding: 0.5em 0 1em;
  }

  .editors-pick {
    padding: 0
  }

  .iot-updates {
    width: 319px;
    max-width: 480px;
    margin: 0;
    padding: 0
  }

  .grid-wrapper {
    padding-bottom: 1em;
  }

  #category-thumbnails {
    margin: 5em auto 2em;
  }

  .empty-box {
    display: none
  }

  .content-creator {
    margin-bottom: 5em
  }

  .empty-box {
    display: none
  }

  .cat-btn {
    display: flex;
    flex-direction: column
  }

  #stay-connected-sidebar,
  .social-media-imgs {
    display: flex;
    flex-direction: column
  }

  #sidebar,
  #sidebar-cta,
  .sidebar {
    width: 100%;
    max-width: 480px;
    margin: 0 auto
  }

  .sidebar-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    height: auto;
    margin: 0 auto 2em
  }

  .sidebar-text ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 480px
  }

  .city-img {
    display: flex;
    align-items: center;
    justify-content: center
  }

  .city-img img {
    margin: 1em auto
  }

  .cta-section,
  .sidebar-article ul li {
    max-width: 300px;
    max-height: auto;
    width: 75%
  }

  .sidebar-article ul {
    margin-right: 0;
    gap: 10px
  }

  .sidebar-article ul li a {
    padding: .5em 0;
    font-size: 1.1rem;
    font-weight: 900
  }

  .article3-viewall img {
    margin: 0 auto
  }
}

/* purgecss end ignore */