* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  color: #7a7a7a;
}

body,
html {
  width: auto;
  max-width: 100vw;
  height: unset;
  overflow-x: hidden;
}

html {
  background-color: #f7f7f7;
  color: #7a7a7a;
}

h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  padding-bottom: .5em;
  color: #359ab4;
}

h3 a {
  color: #7a7a7a;
}

p {
  font-size: 1.3rem;
  color: #7a7a7a;
}

a:focus, 
button:focus,
.cat-btn:focus, 
input:focus {
  outline: 2px solid #f7985aaf;
  outline-offset: 2px;
}

/* navbar */
.menu {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1em 3em;
  border-bottom: 1px solid black;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.1);

}

em {
  color: #8a8a8a;
  font-weight: 600;
}

strong {
 color: #4c4c4c;
}

.grid-wrapper,
.article-grid1,
.article-grid2,
.article-grid3 {
  display: grid;
  width: 100%;
  max-width: 100%;
  gap: 1em;
  padding: 1.5em;
  }

.navbar-items {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.logo-container {
  padding-left: 2em;
}

.logo-container img {
    max-height: 100px; 
    width: auto; 
}

/* search box*/
/* search icon styling */
.search-icon {
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
    color: #359ab4; /* Match your site's futuristic color */
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}

.search-icon img {
    width: 60px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 8%;
}

.search-icon:hover {
    color: #f7985aaf;
}

/* search popup styling */
.search-popup {
  display: none;
  position: absolute;
  bottom: -15%;
  left: 0%;
  transform: translateX(-50%);
  z-index: 1000;
}

.search-popup.show {
  display: block;
}

@media (max-width: 1024px) {
  .navbar-items {
    display: none;
  }

  .menu-toggle,
  .search-icon {
    display: inline-block;
  }
}

/* hamburger menu slide-in */
.hamburger-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Hidden initially */
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); /* Menu background */
  z-index: 1002;
  padding-top: 60px;
  transition: left 0.4s ease;
}

.hamburger-menu.show {
   left: 0; /* Ensure it slides fully into view */
}

.hamburger-menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.hamburger-menu-items li {
  margin-bottom: 20px;
}

.hamburger-menu-items li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
  display: block;
  font-weight: bold;
  transition: color 0.3s ease;
}

.hamburger-menu-items li a:hover {
  color: #f7985a; /* Futuristic hover color */
}

.content-wrapper.blurred {
  filter: blur(5px); /* Blurs the page content */
  transition: filter 0.4s ease;
}

.icons-container {
  padding-bottom: 5em;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.menu-toggle {
  display: inline-block;
}

.menu-toggle img, 
.search-icon img {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #359ab4;
  border-radius: 50px;
}

.search-container i {
  font-size: 1.5rem;
  color: #359ab4;
}

#search-input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  margin-left: 10px;
  padding: 5px;
  background-color: transparent;
  color: #7a7a7a;
}

#search-input::placeholder {
  color: #7a7a7a;
}

.search-popup.show {
  display: block;
}

/* Close search popup on click outside */
body.modal-open {
  overflow: hidden;
}

@media (min-width: 1025px) {
  .menu-toggle {
    display: none; /* Hide the hamburger icon */
  }
}

/* Hide navbar items when screen is smaller than 1024px */
@media (max-width: 1024px) {
  nav {
    margin: 0 auto;
  }

  .navbar-items {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }
  
  .menu-toggle, .search-icon {
    display: inline-block;
    cursor: pointer;
  }

  .menu-toggle img,
  .search-icon img {
    width: 40px;
    height: auto;
    cursor: pointer;
  }

  .search-popup {
    display: none;
    position: absolute;
    bottom: 40%;
    left: 0%;
    transform: translateX(-50%);
    z-index: 1000;
}


  .search-icon {
    position: static;
    text-align: center;
  }

  .search-icon img {
    position: static;
  }
  /* Position the search and hamburger icons under the logo */
  .menu {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid black;  
  }

  .logo-container {
    margin-bottom: 0;
  }

  .icons-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 0;
  }

  .icons-container.with-popup {
    padding-bottom: 7em;
  }

  body, html {
    margin: 0;
    padding: 0;
  }

  #navbar.me {
    border-bottom: none;
  }
}  

  .content-container {
    display: block;
    width: 75vw;
    max-width: 75vw;
    background-color: rgb(247 247 247 / 1);
    padding: 2em;
    border-radius: 1.5em;
    box-shadow: rgb(0 0 0 / 40%) 0px 0px 50px 8px;
    margin: 3em auto;  
  }

.search-popup.show {
  display: block;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 999;
}

.navbar-items ul {
  list-style-type: none; 
  display: flex; 
  margin-left: auto; 
}

.navbar-items ul li {
  margin-left: 20px; 
}

.navbar-items ul li a {
  text-decoration: none; 
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  color: #359ab4;
}

.navbar-items ul li a:hover {
  color: #f7985aaf;
  border-radius: 4px;
  text-decoration: underline;
}

.grid-wrapper {
  grid-template-columns: 3fr .75fr;
}

.content-grid-wrapper,
.content-wrapper {
  box-sizing: border-box;
  min-height: 100%;
  height: auto;   
}

/* hero */
.hero {
  position: relative;
}

.hero-content {
  display: flex;
  position: relative;
  flex-direction: column;
}

.hero img {
  opacity: 1;
  border-radius: 1.5em;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover; 
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 25px 8px;
}

.hero h1 a {
  font-size: 2.5rem;
  position: absolute;
  bottom: 3em;
  left: 1em;
  color: #f7f7f7;
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
}

.hero h1 a:hover {
  color: #f7985aaf;
  transition: 0.1s ease-in-out, opacity 0.2s ease-in-out;
}

.hero h2 {
    font-size: 2rem;
    color: #7a7a7a;
    letter-spacing: .5px;

}

.cat-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  padding: 1em 0 1.5em 0;
}

.cat-btn a {
  display: inline-flex;
  border-radius: 100px;
  border: 1px solid #262626;
  padding: 1em;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #7a7a7a;
  font-weight: 700;
  margin: 0 1em 0 0;
  width: auto; /* Allow automatic width */
  min-width: 120px;
}

.cat-btn a:hover {
  border: 1.5px solid #a8a6a6;
  background-color: #f7985aaf;
  transition: 0.1s ease-in-out, opacity 0.2s ease-in-out;
}  

.editors-pick {
  padding: 1.5em 0 2em 0;
}

.iot-updates {
  padding: 1.5em 0 2em 0;
}

.page-title h1 {
 font-size: 3em;
}

.section-title h3 {
  padding-top: 2em;
}

.article-grid3 {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .article-grid3 {
  grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .article-grid3 {
  grid-template-columns: 1fr;
  }
}

.article-grid1,
.article-grid2,
.article-grid3 {
    padding: 1em 0;
    gap: 2em;
}


.article2 img,
.sidebar-article img,
.article3 img {
  height: 250px;
  max-height: 250px;
  box-sizing: border-box;
}

.sidebar-article img,
.article3 img,
.article-grid1 img,
.article2 img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1.5em;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 3px 3px; 
}

.iot-updates:hover,
.article2:hover, 
.article3:hover {
  opacity: .3;
  transform: translateY(0); /* Move up on hover */
}

.article-grid1 img {
  height: 100%;
  max-height: 100%; 
}

.article-grid2 {
  grid-template-columns: repeat(2, 1fr);
}

/* sidebar */

.sidebar {
  width: 85%;
  max-width: 85%;
  flex-grow: 0;
  height: auto;
  overflow: visible;
  margin: 3.5em auto;
}

.sidebar-article{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.sidebar-article ul li a,
.sidebar-article li {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.368rem;
  font-size: 1rem;
  text-align: center;
  padding: 0;
  color: #7a7a7a;
  font-weight: 700;
}

.sidebar-article ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.sidebar-article ul li {
  padding: 1em;
  font-size: 1rem;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 25px 8px;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-radius: 12px;
  margin: .5em 0;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  margin: .5em auto;
  
}

.sidebar-article ul li a {
  color: #7a7a7a;
}

.social-media:hover,
.sidebar-article ul li:hover {
  opacity: .5;
  transform: translateY(0); /* Move up on hover */
}

/* Subscribe */
.subscribe-container {
  display: relative;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 65vh;
  padding-top: 2em;
  margin: 0 auto;
}

.subscribe-container img {
  width: 100%;
  max-width: 100%;
  height: 65vh;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 1.5em;
}

.subscribe-textbox {
  text-align: justify;
  position: absolute;
  text-align: left;
  bottom: 5em;
  left: .5em;
  line-height: 1.3;
}

.subscribe-title p {
  font-size: 1.1rem;
  font-weight: 500;
  color: white
}

.subscribe-p p {
  color: white;
  font-size: .80;
  padding-top: .5em;
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  max-width: 90%;
  bottom: 7em;
  left: .5em;
  text-align: center;
}

form input {
  height: 2rem;
  padding: .75em;
  border-radius: .4em;
}

form button {
  margin: .5em 0;
  font-size: 1rem;
  height: auto;
  width: 40%;
  color: white;
  border-color: white;
  border-radius: 10em;
  border: 1px solid white;
  min-width: min-content;
  background: transparent;
  cursor: pointer;
  padding: .5em;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 2px;  
}

button:hover {
  border: 1.5px solid #a8a6a6;
  background-color: #f7995ad0;
  transition: 0.1s ease-in-out, opacity 0.2s ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* social media sidebar */
.stay-connected-sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.social-sidebar-text {
  margin-top: 5em;
}

.socialmedia-title {
  text-align: left;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media img {
  padding: 1em 0;
  width: 25%;
}
/* Footer Styling */

.footer {
  padding: 1.5em;
  width: 100vw;
  max-width: 100vw;
}
.bottom-section {
  width: 100vw;
  border-top: 3px solid black; 
  border-bottom: 3px solid black; 
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.bottom-img-container {
  display: flex;
  justify-content: space-between;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.bottom-img-box {
  flex: 1; /* Make each image take an equal amount of space */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.bottom-img-box img {
  width: 100%;
  height: 100%; /* Smaller height to create a border effect */
  object-fit: cover; /* Ensure the images don't get distorted */
}

.stay-connected-footer,
.bottom-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
  background: linear-gradient(135deg, rgba(53, 154, 180, 0.8), rgba(26, 26, 26, 0.8));
  color: #e0e0e0;
  padding: 2em 0;
}

.copyright,
.address {
  padding: 0 0 2em
}

.copyright p,
.address address {
  color: white;
  padding: 0.5em 0;
}

.address address {
  font-size: 1.2em;
}

.navbar-footer-items ul {
  display: flex;
  padding: 1em 0;
}

.navbar-footer-items ul li { 
  list-style: none;
}

.navbar-footer-items ul li a {
  text-decoration: none; 
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  color: white;
}

.navbar-footer-items ul li a:hover {
  color: #f7985aaf;
}


.social-media {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.footer-social {
  padding: 1em 0 1.5em;
}

.footer-social a img {
  display: inline-block;
  margin-right: 1.5em;
  padding: 0.5em;
}

.footer-social a img {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.x-icon {
  width: 100px;
}

.footer-social a img:hover {
  opacity: 0.5;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.footer a:focus {
  outline: 2px solid #f7985aaf;
  outline-offset: 3px;
}

@media (max-width: 768px) {
  .article-grid2 {
    grid-template-columns: 1fr; 
  }

  .stay-connected-footer, .bottom-section {
    padding: 1em 0;
  }

  .footer-social a img {
    width: 40px; /* Slightly smaller icons on mobile */
  }

  .footer-social a img {
    margin-right: 1em;
  }

    .grid-wrapper {
    grid-template-columns: 1fr; /* Main content becomes full-width */
  }

  .sidebar {
    width: 100%; /* Sidebar takes full width */
    max-width: 100%;
    margin: 1em 0; /* Add margin to space it out */
  }

}


/* welcome page */

.welcome-container {
  width: 95%;
  max-width: 95%;
  text-align: justify;
}

.hero-post-author {
  padding: 0 0 2em;
}

/* categorized/ all */

.article-title {
  padding-top: .5em;
}

.article-author,
.article-date {
  padding-bottom: .3em;
}

.article-descr {
  text-align: justify;
  padding: 0 10px;
}

.article-title h3 a {
  font-size: 1.5rem;
  color: #359ab4;
  padding: 0 10px;
}

.article-author p,
.article-date p {
  font-size: 1.1rem;
  padding: 0 10px;
  font-weight: 400;
}

.article-descr p {
  font-size: 1.2rem;
}

.hero-content-all img {
  height: 65vh;
  max-height: 65vh;
}

@media (max-width: 768px) {
  .article-grid3 {
    grid-template-columns: 1fr;
  }

  .navbar-items ul {
    flex-direction: column;
    align-items: center;
  }
  .navbar-items ul li {
    margin-bottom: 10px;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
  }

  .cat-btn a {
    width: 100%;
  }

  .bottom-img-box img {
    height: 50px;
  }

}
